body{
    margin:0px;
    padding:0px;
    display:flex;
    height:100vh;
    justify-content:center;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
    background-color: black;

}
.container{
    background:lightseagreen;
    color:aliceblue;
    padding:20px;
    width:400px;
    height:400px;
    border:30px solid white;

}
h1{
    margin:10px 0px 0px 80px;
    color:white;
}
.input{
    width:100%;
    font-size: 20px;
    height:30px;
}
.payment{
    font-weight: 600;
    font-size:20px;

}